<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>First Angular Project</title>
</head>
<body>
    <h1>This is my first Angular project!</h1>

    <h2>Name</h2>
    <p>My name is Tej Baidwan and I am 21 years old! My student number at St.Clair is
    0806279.</p>

    <h2>About Me</h2>
    <p>I am passionate about programming and anything related to technology. I play soccer
    and basketball for fun, and I also have a hobby of selling products on Facebook and
    Amazon.</p>

</body>
</html>
