/*
CSS Styles for alternating backgrounds
 */

.content-list-item.even {
  background-color: green;
}

.content-list-item:not(even) {
  background-color: red;
}

.content-list-item {
  border: 2px solid black;
}
